# Virtual environment
.venv/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc


# Django
db.sqlite3
media/
staticfiles/

# Testing
.coverage
htmlcov/
.pytest_cache/

# Editors
.vscode/
.idea/

# Operating system
.DS_Store
Thumbs.db